[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=test_plugin
X-Python-2-Compatible=false
Name=Test Plugin
Comment=A simple test plugin